<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"></include>
  <!-- <springProperty scope="context" name="JSON_ENCODER_CLASS" value="net.logstash.logback.encoder.LogstashEncoder"/> -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SERVER_FILE">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>@timestamp</timestamp>
        <level>log.level</level>
        <thread>thread.name</thread>
        <message>message</message>
        <logger>log.logger</logger>
      </fieldNames>
    </encoder>
    <file>logs/server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>7</maxHistory>
      <maxFileSize>10MB</maxFileSize>
    </rollingPolicy>
  </appender>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg %n</pattern>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="CLIENT_FILE">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>@timestamp</timestamp>
        <level>log.level</level>
        <thread>thread.name</thread>
        <message>message</message>
        <logger>log.logger</logger>
      </fieldNames>
    </encoder>
    <file>logs/client-activity.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/client.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>7</maxHistory>
      <maxFileSize>10MB</maxFileSize>
    </rollingPolicy>
  </appender>
  <logger additivity="false" level="INFO" name="client.requests">
    <appender-ref ref="CLIENT_FILE"></appender-ref>
  </logger>
  <root level="INFO">
    <appender-ref ref="CONSOLE"></appender-ref>
    <appender-ref ref="SERVER_FILE"></appender-ref>
  </root>
</configuration>
